<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Analyzer</title>
</head>
<body>
<h1>Welcome to the text analyzer!</h1> <h2>Enter your text below</h2>
<form action='/analyze' method='post'> {% csrf_token %}
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>

    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcap">UPPERCASE<br>
    <input type="checkbox" name="charCount">Count Characters<br>
    <input type="checkbox" name="spaceremover">Remove Spaces<br>
    <input type="checkbox" name="newLineRemover">Remove Newlines<br>
    <button type='submit'> Analyze Text</button>
</form>
</body>
</html>